body {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 300;
}

.nav-menu {
  padding-top: 5px;
  font-weight: 500;
  text-align: center;
}

.nav-link {
  padding: 26px 13px;
  color: hsla(0, 0%, 100%, .62);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.w--current {
  color: #fff;
  text-decoration: none;
}

.nav-link.logo {
  padding-top: 23px;
  padding-bottom: 23px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.nav-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .82) 91%), url('../images/burger.jpeg');
  background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .82) 91%), url('../images/burger.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  line-height: 2.75rem;
}

.hero-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  color: #fff;
  text-align: center;
}

.hero-heading {
  margin-top: 0px;
  color: #fff;
  font-size: 80px;
  line-height: 85px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .2), 1px 1px 6px rgba(0, 0, 0, .2);
}

.hero-subtitle {
  margin-bottom: 20px;
  color: hsla(0, 0%, 100%, .9);
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-subtitle.vusur {
  opacity: 0.55;
}

.hero-subtitle.margin-bottom-20 {
  margin-bottom: 50px;
}

.subpage-background {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url('../images/pexels-photo.jpg'), -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url('../images/pexels-photo.jpg'), linear-gradient(180deg, #000, #000);
  background-position: 0px 0px, 50% 51%, 0px 0px;
  background-size: auto, 100%, auto;
  background-repeat: repeat, no-repeat, repeat;
  background-attachment: scroll, fixed, scroll;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.section-title {
  padding: 85px 2.5%;
  color: #fff;
  text-align: center;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 45px;
  line-height: 51px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
}

.section {
  padding-right: 2.5%;
  padding-bottom: 50px;
  padding-left: 2.5%;
}

.bio-photo {
  margin-bottom: 45px;
}

.content {
  color: #fff;
}

.footer {
  margin-top: 16px;
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #1a1a1a, #1a1a1a);
  background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a);
  color: #222;
  text-align: center;
}

.footer.homepage {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.footer-link {
  margin-right: 6px;
  margin-left: 6px;
  opacity: 0.82;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #222;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.76;
  color: #fff;
}

.social-link {
  width: 25px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 1;
}

.social-wrapper {
  margin-top: 5px;
}

.play-music {
  position: relative;
  width: 100%;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .85);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: auto;
  height: auto;
  margin-left: 7px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 45px solid #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.track-listing-row {
  margin-bottom: 45px;
  padding-top: 20px;
  border-top: 1px solid hsla(0, 0%, 60%, .35);
}

.featured-track {
  margin-bottom: 75px;
  padding-bottom: 38px;
}

.track-listing-time {
  text-align: right;
}

.track-link {
  color: #fff;
  text-decoration: none;
}

.small-grey-text {
  display: block;
  margin-bottom: 5px;
  color: #999;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.small-grey-text.album {
  color: #efe866;
  font-size: 15px;
}

.tour-title {
  margin-bottom: 100px;
  text-align: center;
}

.rsvp-button {
  padding: 5px 15px;
  border: 1px solid #f7e769;
  background-color: transparent;
  -webkit-transition: color 200ms ease, border-color 200ms ease;
  transition: color 200ms ease, border-color 200ms ease;
  color: #f7e769;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
}

.rsvp-button:hover {
  border-color: #fff;
  color: #fff;
}

.tour-date-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo-block {
  height: 250px;
  margin: 20px 10px;
}

.contact-h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 28px;
  font-weight: 300;
}

.contact-row {
  padding-top: 0px;
  padding-bottom: 58px;
  border-top: 1px solid hsla(0, 0%, 60%, .35);
  text-align: center;
}

.contact-link {
  display: inline-block;
  margin-top: 5px;
  color: #999;
  text-decoration: none;
}

.contact-link:hover {
  color: #fff;
}

.form {
  display: block;
  max-width: 550px;
  margin-top: 54px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.submit-button {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #fff;
  color: #333;
}

.submit-button.sign-up {
  position: relative;
  top: -5px;
  display: inline-block;
  margin-top: 0px;
}

.input-inline {
  display: inline-block;
  max-width: 414px;
  margin-right: 20px;
}

.album-art {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 45px;
  background-image: url('../images/vansburger.gif');
  background-position: 0px 50%;
  background-size: 59px;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  color: #fdfdfd;
  font-size: 19px;
  line-height: 40px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.brand-link {
  z-index: 1;
  width: 130px;
  height: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  background-image: url('../images/vansburger.gif');
  background-position: 0px 50%;
  background-size: 55px;
  background-repeat: no-repeat;
}

.hero-container {
  text-align: center;
}

.button {
  width: 7.5rem;
  height: 2.75rem;
  padding: 0px 1.25rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(26, 26, 26, .95), rgba(26, 26, 26, .95));
  background-image: linear-gradient(180deg, rgba(26, 26, 26, .95), rgba(26, 26, 26, .95));
  color: #fff;
}

.button.big {
  margin-right: 9px;
  margin-left: 9px;
  padding: 11px 26px;
  border-color: #f7c72a;
  -webkit-transition: border 200ms ease, color 200ms ease;
  transition: border 200ms ease, color 200ms ease;
  color: #f7c72a;
  font-size: 16px;
}

.button.big:hover {
  border-color: #fff;
  color: #fff;
}

.button.contact {
  padding-right: 7px;
  padding-left: 7px;
  background-color: rgba(248, 199, 41, .7);
}

.button.menubutton {
  border-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
}

.button.reserverbutton {
  display: inline-block;
  padding-right: 29px;
  padding-left: 29px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
}

.button.planbutton {
  border-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
}

.button.left-btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button.left-btn.w--current {
  border: 1px solid #fffdfd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button.center-btn {
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  color: #000;
  font-weight: 500;
}

.button.center-btn:hover {
  color: #58c9b9;
  font-weight: 600;
  letter-spacing: 1px;
}

.button.right-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.button.inline {
  padding-right: 0rem;
  padding-left: 0rem;
}

.content-wrapper {
  margin-top: 78px;
}

.footer-text {
  margin-top: 13px;
  color: hsla(0, 0%, 100%, .43);
}

.song-list-item {
  padding-top: 19px;
  padding-bottom: 19px;
  border-top: 1px solid hsla(0, 0%, 100%, .28);
  text-align: center;
}

.small-heading {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 23px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.album-columns {
  text-align: center;
}

.song-title {
  color: #f0e567;
}

.venue {
  font-weight: 500;
}

.venue-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid hsla(0, 0%, 100%, .3);
}

.photo-list {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 69px;
  margin-left: auto;
  text-align: center;
}

.photo {
  margin-bottom: 18px;
  border-radius: 5px;
  box-shadow: 0 1px 50px 0 rgba(0, 0, 0, .51);
}

.field {
  font-weight: 300;
}

.input {
  margin-bottom: 20px;
  border-style: none;
  background-color: hsla(0, 0%, 40%, .64);
  color: #fff;
}

.input:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .77);
}

.input.textarea {
  min-height: 110px;
}

.success {
  padding-top: 29px;
  background-color: rgba(30, 187, 0, .35);
}

.line-vertical {
  display: block;
  width: 2px;
  height: 55px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, .2));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, .2));
  text-align: justify;
}

.line-horizontal {
  display: block;
  width: 100%;
  height: 2px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .21), hsla(0, 0%, 100%, .21));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .21), hsla(0, 0%, 100%, .21));
}

.line-horizontal.bottom-line {
  width: 100%;
  margin-bottom: 0px;
}

.circle-logo {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  border: 2px none #fff;
  border-radius: 166px;
  background-image: url('../images/vansburger.gif');
  background-position: 45% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-container {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.social-icons {
  position: static;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px none #fff;
  border-radius: 100px;
  background-image: url('../images/002-facebook-logo.svg');
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
}

.social-icons:hover {
  background-image: url('../images/002-facebook-logo.svg'), -webkit-linear-gradient(270deg, #3b5998, #3b5998);
  background-image: url('../images/002-facebook-logo.svg'), linear-gradient(180deg, #3b5998, #3b5998);
  background-position: 50% 50%, 0px 0px;
  background-size: 11px, auto;
  background-repeat: no-repeat, repeat;
}

.social-icons.insta {
  background-image: url('../images/001-instagram.svg');
  background-size: 20px;
}

.social-icons.insta:hover {
  background-image: url('../images/instagram-1.svg'), -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: url('../images/instagram-1.svg'), linear-gradient(180deg, #fff, #fff);
  background-position: 50% 50%, 0px 0px;
  background-size: 20px, auto;
  background-repeat: no-repeat, repeat;
}

.social-icons.twitter {
  background-image: url('../images/twitter.svg');
  background-size: 20px;
}

.social-icons.twitter:hover {
  background-image: url('../images/twitter.svg'), -webkit-linear-gradient(270deg, #1da1f2, #1da1f2);
  background-image: url('../images/twitter.svg'), linear-gradient(180deg, #1da1f2, #1da1f2);
  background-position: 50% 50%, 0px 0px;
  background-size: 20px, auto;
  background-repeat: no-repeat, repeat;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-wrapper.light-opacity {
  opacity: 0.8;
}

.made-by {
  position: static;
  display: block;
  opacity: 0.5;
  text-align: center;
}

.body {
  overflow: hidden;
  background-image: -webkit-linear-gradient(270deg, #1a1a1a, #1a1a1a);
  background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a);
  -webkit-perspective: 1000px;
  perspective: 1000px;
  font-family: Montserrat, sans-serif;
}

.menu-page {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(270deg, rgba(26, 26, 26, .95), rgba(26, 26, 26, .95));
  background-image: linear-gradient(180deg, rgba(26, 26, 26, .95), rgba(26, 26, 26, .95));
  -webkit-transform: translate(0%, 0px);
  -ms-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
}

.croix {
  background-image: url('../images/cross.svg');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.div-block {
  width: 80px;
  height: 80px;
  margin: 20px;
  clear: none;
}

.link {
  padding: 25px;
  background-image: url('../images/cross.svg');
  background-position: 0px 0px;
  background-size: 20px;
}

.close {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url('../images/cross.svg');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  color: #fff;
  text-decoration: none;
}

.menu-content-wrapper {
  display: block;
  overflow: scroll;
  width: 70%;
  margin-top: -70px;
  margin-right: auto;
  margin-left: auto;
}

.menu-title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 28px;
  font-weight: 700;
}

.text-block {
  font-size: 1rem;
  font-weight: 300;
}

.text-block-2 {
  font-size: 1rem;
}

.tab-pane {
  overflow: scroll;
  height: 500px;
  padding-top: 41px;
}

.menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: dashed;
  border-width: 1px;
  border-color: #000 #000 hsla(0, 0%, 100%, .34);
}

.tab-link {
  width: 25%;
  padding: 29px 0px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .82), hsla(0, 0%, 100%, .82));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .82), hsla(0, 0%, 100%, .82));
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: 500;
  text-align: center;
}

.tab-link.w--current {
  background-image: -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, #000, #000);
  color: #ffe0e0;
}

.tabs {
  height: 500px;
  border: 6px solid #fff;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(26, 26, 26, .93), rgba(26, 26, 26, .93));
  background-image: linear-gradient(180deg, rgba(26, 26, 26, .93), rgba(26, 26, 26, .93));
}

.menu-card {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

.div-block-3 {
  display: inline;
  width: 30%;
}

.card-content {
  position: absolute;
  left: 30%;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 150px;
  padding: 38px 20px 54px;
  float: right;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, .56), rgba(0, 0, 0, .63) 0%, rgba(0, 0, 0, .88) 26%);
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .56), rgba(0, 0, 0, .63) 0%, rgba(0, 0, 0, .88) 26%);
}

.image {
  width: 30%;
  height: 150px;
}

.menu-description {
  padding: 10px;
  color: hsla(0, 0%, 100%, .9);
  font-size: 13px;
}

.kcal {
  color: rgba(88, 201, 185, .8);
  font-size: 12px;
}

.menu-prix {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 7px;
  padding-right: 25px;
  padding-bottom: 25px;
  font-family: Lato, sans-serif;
  color: hsla(0, 0%, 100%, .8);
  font-size: 14px;
  line-height: 0px;
  font-weight: 700;
  text-align: right;
}

.tab-link-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tabs-menu-3 {
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-2 {
  padding: 39px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
}

.fumeur {
  margin-bottom: 15px;
}

.facebook {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.divider {
  height: 1px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px 0px 0px;
  border-color: hsla(0, 0%, 100%, .2);
}

.divider.small {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  text-align: center;
}

.image-2 {
  display: block;
}

.about-features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.as-seen-on {
  padding-top: 40px;
  padding-bottom: 60px;
  background-image: -webkit-linear-gradient(270deg, rgba(26, 26, 26, .8), rgba(26, 26, 26, .8));
  background-image: linear-gradient(180deg, rgba(26, 26, 26, .8), rgba(26, 26, 26, .8));
}

.link-block {
  width: 100%;
  height: 70px;
  background-image: url('../images/google-places.png');
  background-position: 50% 50%;
  background-size: 250px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.link-block:hover {
  opacity: 1;
}

.link-block.trivadvisor {
  background-image: url('../images/trip-advisor.png');
  background-size: 250px;
}

.link-block.zomato {
  background-image: url('../images/zomaro.png');
  background-size: 266px;
}

.horair-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(26, 26, 26, .95), rgba(26, 26, 26, .95));
  background-image: linear-gradient(180deg, rgba(26, 26, 26, .95), rgba(26, 26, 26, .95));
  text-align: center;
}

.unordered-list {
  width: 250px;
  text-align: center;
}

.isitopen {
  margin-bottom: 20px;
  color: #58c9b9;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
}

.feature-p {
  opacity: 0.8;
}

.feature-title {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.status {
  display: block;
  width: auto;
  height: 1.65rem;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 106px;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
  line-height: 1.65rem;
}

.status.white-drop {
  box-shadow: 1px 1px 3px 0 hsla(0, 0%, 99%, .2);
}

.cta {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 80px;
}

.cta.cta-map {
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  width: 40px;
  height: 40px;
}

.phone-link {
  border-radius: 100px;
  background-image: url('../images/002-call-answer.svg'), -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: url('../images/002-call-answer.svg'), linear-gradient(180deg, #fff, #fff);
  background-position: 50% 50%, 0px 0px;
  background-size: 50%, auto;
  background-repeat: no-repeat, repeat;
}

.error-message {
  color: #000;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container {
  padding-top: 50px;
}

.text-span {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: 9px;
}

.bold-text {
  font-weight: 300;
}

.card-image {
  display: inline-block;
  width: 30%;
  height: 100%;
  background-image: url('../images/b5.jpeg');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.card-image._2 {
  background-image: url('../images/b6.jpeg');
  background-size: auto 100%;
}

.card-image._3 {
  background-image: url('../images/b4.jpeg');
  background-size: cover;
}

.card-image._4 {
  background-image: url('../images/b5.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.card-image._5 {
  background-image: url('../images/b2.jpeg');
  background-size: auto 100%;
}

.card-image._6 {
  background-image: url('../images/b3.jpeg');
  background-size: auto 100%;
}

.logo-text {
  display: block;
  float: right;
  color: #fcf6f6;
  font-weight: 200;
}

.number {
  text-decoration: none;
}

.phone-number {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.adress {
  display: block;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .nav-menu {
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #000;
    background-color: rgba(0, 0, 0, .85);
  }
  .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
  }
  .menu-button {
    padding: 25px 0px 20px 20px;
    color: hsla(0, 0%, 100%, .62);
    font-size: 25px;
    line-height: 22px;
  }
  .menu-button:hover {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #fff;
  }
  .menu-text {
    margin-right: 3px;
    padding: 2px;
    float: left;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .menu-text:hover {
    color: #fff;
  }
  .menu-icon {
    float: left;
  }
  .circle-logo {
    background-image: url('../images/vansburger.gif');
    background-size: 100%;
  }
}

@media (max-width: 767px) {
  .hero-heading {
    font-size: 61px;
  }
  .footer {
    padding-right: 14px;
    padding-left: 14px;
  }
  .rsvp-button {
    margin-top: 15px;
  }
  .tour-date-row {
    text-align: center;
  }
  .contact-link {
    margin-bottom: 30px;
  }
  .submit-button.sign-up {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .input-inline {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .menu-button {
    margin-right: 7px;
    padding-top: 25px;
  }
  .album-list {
    margin-bottom: 60px;
  }
  .venue {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .venue-list-item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .tab-link {
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .nav-menu {
    background-color: rgba(0, 0, 0, .95);
  }
  .hero {
    height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .55) 91%), url('../images/burger.jpeg');
    background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .55) 91%), url('../images/burger.jpeg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .hero-heading {
    font-size: 3.3rem;
    line-height: 3rem;
  }
  .hero-subtitle {
    color: #fff;
    font-weight: 500;
  }
  .subpage-background {
    background-image: -webkit-linear-gradient(270deg, #1a1a1a, #1a1a1a), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
    background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a), linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
  }
  .page-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .section {
    background-image: -webkit-linear-gradient(270deg, #000, #000);
    background-image: linear-gradient(180deg, #000, #000);
  }
  .section.feature {
    background-image: -webkit-linear-gradient(270deg, #1a1a1a, #1a1a1a);
    background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a);
  }
  .contact-row {
    padding-bottom: 0px;
  }
  .menu-button {
    padding-top: 25px;
  }
  .logo {
    margin-top: -12px;
    background-size: 40px;
    line-height: 45px;
  }
  .brand-link {
    margin-left: 15px;
  }
  .hero-container {
    margin-top: 12px;
    margin-bottom: 20px;
    padding-top: 35px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .button {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .button.big {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
  }
  .button.left-btn {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .button.center-btn {
    border-radius: 0px;
  }
  .button.right-btn {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  .content-wrapper {
    margin-top: 10px;
  }
  .social-wrapper {
    margin-top: 45px;
  }
  .made-by {
    color: hsla(0, 0%, 100%, .68);
    font-size: 9px;
    line-height: 1.85rem;
    letter-spacing: 2px;
  }
  .menu-content-wrapper {
    width: 90%;
    margin-top: -10px;
  }
  .menu-title {
    font-size: 0.9rem;
    line-height: 16px;
    letter-spacing: 1px;
  }
  .tab-link {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0px;
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
    opacity: 0.9;
    color: #1a1a1a;
    text-align: center;
  }
  .tab-link.w--current {
    background-color: #000;
    background-image: none;
    color: #fff;
    font-weight: 600;
  }
  .tabs-menu-2 {
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .tabs {
    height: 80vh;
    border-style: none;
  }
  .card-content {
    left: 40%;
    width: 60%;
    margin-left: -30px;
    padding-top: 25px;
  }
  .image {
    width: 40%;
    height: 100%;
  }
  .menu-description {
    padding-top: 0px;
    font-size: 14px;
    line-height: 15px;
  }
  .menu-prix {
    left: auto;
    right: 0px;
    bottom: 0px;
    padding-bottom: 15px;
  }
  .tabs-menu-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .form-2 {
    padding-top: 0px;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-4 {
    background-image: -webkit-linear-gradient(270deg, #1a1a1a, #1a1a1a);
    background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a);
  }
  .cta.cta-map {
    position: static;
    display: block;
  }
  .phone-link {
    width: 100%;
    height: 100%;
    background-image: url('../images/002-call-answer.svg'), -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: url('../images/002-call-answer.svg'), linear-gradient(180deg, #fff, #fff);
    background-position: 50% 50%, 0px 0px;
    background-size: 50%, auto;
    background-repeat: no-repeat, repeat;
    opacity: 0.5;
  }
  .row-2 {
    position: relative;
    display: inline-block;
  }
  .text-span {
    letter-spacing: 6px;
  }
  .bold-text {
    font-weight: 500;
    text-decoration: none;
  }
  .number {
    color: hsla(0, 0%, 100%, .9);
    text-decoration: none;
  }
}

